*{
    text-align: center;
}

*:not(font){
    font-family:Helvetica;
}
body{
    background-color: #e0e0e0;
}

h1{
    margin: 2em;
}

        .flex{
            display: flex;
            flex-direction: column;
        }

        .row{
            margin: auto;
            width: 40%;
            text-align: center;
        }

        button{
            width:10em;
            margin-left: auto;
            margin-right: auto;
            padding: 1em;
            border-radius: 1.5em;
            margin-bottom: 1.5em;
            border-style:none;
            background-color: rgba(75, 100, 255, 1);
            font-size: 1em;
            box-shadow: 0 6px 6px rgba(0,0,0,0.23);

        }
        .left{
            float: left;
        }

        .right{
            float: right;
        }

        button:hover{
            background-color: rgba(75, 100, 255, 0.87);
            transform: scale(1.1);
        }
        
        button:active{
            background-color: rgba(75, 100, 255, 0.77 );
        }

        code{
            background-color: #333;
            border-style: none;
            border-width: 2px;
            border-color: #222;
            padding: 0.4%;
            font-family: monospace;  
            color: rgba(255, 50, 100)
        }

        #description{
            background-color: rgba(255,255,0,0.8);
            font-size: x-large;
            width: 300px;
            position: relative;
            padding: 1%;
            box-shadow: 0 6px 6px rgba(0,0,0,0.23);

            left: 10em;
        }

        a{
            position: absolute;
            bottom: 5em;
            right: 50%;
            text-decoration-line: none;
        }


        font{
            font-size: 2em;
            display: block;
            margin: 1em;
            text-align: left;
            box-shadow: 0 6px 6px rgba(0,0,0,0.23);

        }
        marquee{
            background-color: aqua;
            width: 50%;
            font-size: 1.5em;
            margin: 1em;
            box-shadow: 0 6px 6px rgba(0,0,0,0.23);

        }

        .hn{
            box-shadow: 0 6px 6px 0px rgba(0,0,0,0.23);
        }